*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(132, 200, 255, 0.808);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer {
  box-sizing: content-box;
  width: 600px;
  height: 640px;
  border: 1px solid rgb(95, 95, 95);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.589);
}

.sketch-device {
  box-sizing: content-box;
  width: 500px;
  height: 500px;
  border-top: 70px solid red;
  border-bottom: 80px solid red;
  border-left: 50px solid red;
  border-right: 50px solid red;
  border-radius: 10px;
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.sketch-area-border {
  box-sizing: content-box;
  width: 500px;
  height: 500px;
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}

.game-buttons {
  background-color: white;
  border-radius: 50%;
  border: 0.1px solid gray;
  width: 55px;
  height: 55px;
  position: relative;
  top: -85px;
  margin: 10px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.589);
}

.game-buttons.left {
  margin-left: 15px;
}

.game-buttons.right {
  margin-right: 15px;
}

.grid-div {
  border: 1px solid black;
 /*  height: 31.25px;
  width: 31.25px; */
}